.students-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .student-card {
    width: 30%;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .student-card h3 {
    margin-top: 0;
  }
  
  .student-card h4 {
    margin-top: 16px;
  }
  
  .student-card ul {
    list-style-type: none;
    padding: 0;
  }
  
  .student-card li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .student-card button {
    background-color: #ced3d8;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .student-card button:hover {
    background-color: #7c8590;
  }
  
  .student-card select {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .add-student-form {
    margin-bottom: 20px;
  }
  
  .add-student-form form,
  .search-student-form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .add-student-form input,
  .search-student-form input {
    padding: 8px;
    margin-right: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .add-student-form button,
  .search-student-form button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  
  .add-student-form button:disabled,
  .search-student-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  